.graveyard {
  border: 1px solid white;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin: 10px auto;
}

.graveyard td,
.graveyard th {
  border: 1px solid white;
  padding: 10px 10px 10px 10px;
}

.sprite {
  background: url("https://www.realmeye.com/s/fx/img/sheets.png");
  display: inline-block;
  height: 50px;
  width: 50px;
}

.equipment {
  background: url("https://www.realmeye.com/s/fx/css/renders.png");
  display: inline-block;
  height: 46px;
  width: 46px;
}

.loading {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}
