.guild-name {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}

.graveyard {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.sprite {
  display: inline-block;
  height: 50px;
  width: 50px;
  background: url("https://www.realmeye.com/s/fx/img/sheets.png");
}

.equipment {
  display: inline-block;
  height: 46px;
  width: 46px;
  background: url("https://www.realmeye.com/s/fx/css/renders.png");
}
