nav {
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */

  border: 1px solid red;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;

  border: 1px solid black;
}

li {
  border: 1px solid blue;
  margin-left: 30px;
}
