@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");

body {
  background-image: url("./whitePattern.png");
  background-color: rgb(61, 24, 24);
  color: white;
  font-family: "asap";
}

.h1-title {
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-weight: bold;
}

.rules {
  font-size: 35px;
  display: inline;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: white;
  left: 70%;
  position: absolute;
}
